:root {
  --primary-color: #097C87;
  --secondary-color: green;
  --text-color: white;
  --another-color: pink;
}

body {
  background-color: var(--primary-color);

}

.nav-bar {
  top: 0px;
  height: 50px;
  background-color: var(--secondary-color);
  position: sticky;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

a {
  color: var(--text-color);
  margin-top: auto;
  margin-bottom: auto;
}

a:hover {
  color: var(--another-color);
}

#gallary {
  display: flex;
  flex-wrap: wrap;
}

.gallaryImage div {
  width: 200px;
  height: 200px;
  background-color: var(--secondary-color);
  margin: 10px;
  padding: 10px;
}

.gallaryImage div:hover {
  cursor: pointer;
  width: 220px;
  height: 220px;
}

.gallaryImage div img {
  max-width: 200px;
  max-height: 200px;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

#contactBox{
  display: flex;
  justify-content: space-around;
}

#quote {
  text-align: center;
  padding: 60px;
  font-size: 2rem;
  font-weight: 300;
  background: black;
  color: white;
}

#quote:hover {
  cursor: pointer;
}

#quote span {
  display: block;
  margin-top: 15px;
  font-size: 1rem;
  opacity: 0.7;
}

#quoteContents, #quoteMetadata {
  transition: opacity 0.4s ease;
}

.aboutPage {
  background-color: var(--secondary-color);
  padding: 20px;
}

.aboutPage:hover {
  cursor: pointer;
}

.aboutPage h3 {
  text-align: right;
}

.aboutPage p {
  text-align: right;
}

#aboutPages a {
  text-decoration: none;
}

.aboutPage2 {
  background-color: black;
  padding: 20px;
}

.aboutPage2:hover {
  cursor: pointer;
}

.aboutPage2 h3 {
  text-align: left;
}

.aboutPage2 p {
  text-align: left;
}

#aboutPages2 a {
  text-decoration: none;
}